{%extends "layout.html"%}
{%block content%}
    <div class="content-section container row">
        <div class="about-text col-12 col-lg-6 p-md-5 p-2 d-flex align-items-center">
            <p class="fs-2">
                This website is being created as a final semester project for our College. The team includes Shubham, Arun and Jagandeep. We have used Flask, Bootstrap, Postgres and VSCode to build this.
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="./static/about-image-mycolors.svg" width="100%" height="100%">

        </div>
    </div>
{%endblock%}