{%extends "admin_layout.html"%}
{%block content%}
<div class="content-section row gap-3 p-2 pt-md-5 justify-content-center">
    <div class="col-10 col-sm-6 col-md-6">
        <div class="top-buttons d-flex justify-content-between">
            <a class="btn btn-secondary" href="{{url_for('admin_indexquiz')}}">Back to Quizzes</a>
            <a class="btn btn-primary" href="{{url_for('admin_createquestion',quiz_id=quiz_id)}}">Add Question</a>
        </div>
        {%for question in questions%}
        <div class="card my-3">
            <div class="card-header d-flex justify-content-between">
                <span class="question">{{loop.index}} - {{question.question_statement}}</span>
                <span class=" ms-2 buttons text-nowrap">
                    <a class="btn btn-link p-0" href="{{url_for('admin_updatequestion',question_id = question.id)}}"><i class="bi bi-pencil-square text-primary fs-3"></i></a>
                    <a class="btn btn-link p-0" href="{{url_for('admin_deletequestion',question_id = question.id,quiz_id=question.quiz_id)}}"><i class="bi bi-trash3-fill text-danger fs-3"></i></a>
                </span>
            </div>
            <div class="card-body list-group p-0" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                    

                        {%for choice in choices%}
                            {%if choice.id == question.choice_id%}
                                <li class="list-group-item bg-success bg-opacity-50">{{choice.correct_choice}}</li>
                                <li class="list-group-item bg-danger bg-opacity-50">{{choice.incorrect_choice_1}}</li>
                                <li class="list-group-item bg-danger bg-opacity-50">{{choice.incorrect_choice_2}}</li>
                                <li class="list-group-item bg-danger bg-opacity-50">{{choice.incorrect_choice_3}}</li>
                            {%endif%}
                        {%endfor%}

            </div>
        </div>
        {%endfor%}
    </div>
    
</div>
{% endblock %}