{%extends "layout.html"%}
{%block content%}
<div class="content-section row pt-md-5">
    {%for quiz in quizzes.items%}
        <div class="col-12 col-sm-6 col-md-4 p-3">
            <div class="card">
                <div class="card-header h3" style="height: 3rem; overflow:hidden;">
                    {{quiz.quiz_title}}
                </div>
                <div class="card-body" style="height: 5rem; overflow:hidden;">
                    {{quiz.quiz_description}}
                </div>
                <div class="card-footer text-end">
                    <a class="btn btn-success btn-sm" href="{{url_for('playquiz',quiz_id=quiz.id)}}">Play Now</a>
                </div>
            </div>
        </div>

    {%endfor%}
    <div class="page-links text-center">
        {% for page_num in quizzes.iter_pages() %}
        {% if page_num %}
            {% if quizzes.page == page_num %}
                <a class="active btn btn-outline-success btn-sm" href="{{url_for('allquizzes',page=page_num)}}">{{page_num}}</a>

            {% else %}
                <a class="btn btn-outline-success btn-sm" href="{{url_for('allquizzes',page=page_num)}}">{{page_num}}</a>
            {% endif %}
        {% else %}
            <span class="btn btn-outline-success btn-sm">...</span>

        {% endif %}
    {% endfor %}
    </div>
</div>
{%endblock%}