{%extends "layout.html"%}
{%block content%}
<div class="row overflow-auto p-4 p-md-2">
    <div class="col" >
        <table class="table table-borderless mytable text-center rounded-1 overflow-hidden">
            <tr class="table-warning" valign="middle">
                <td>
                    S. No.
                </td>
                <td>
                    Quiz Title
                </td>
                <td>
                    Quiz Category
                </td>
                <td>
                    Quiz Difficulty
                </td>
                <td>
                    Created On
                </td>
                <td>
                    Created By
                </td>
                <td class="text-end">
                    <a class="btn btn-success" href="{{url_for('createquizfromapi')}}"><i class="bi bi-plus-circle"></i> Add Using API</a>
                    <a class="btn btn-success" href="{{url_for('createquiz')}}"><i class="bi bi-plus-circle"></i> Add</a>
                </td>
            </tr>
            
            {%for quiz in quizzes%}
                <tr valign="middle">
                    <td>
                        {{loop.index}}
                    </td>
                    <td>
                        {{quiz.quiz_title}}
                    </td>
                    <td>
                        {{quiz.quiz_category}}
                    </td>
                    <td>
                        {{quiz.quiz_difficulty}}
                    </td>
                    <td>
                        {{quiz.date_created.day}}-{{quiz.date_created.month}}-{{quiz.date_created.year}}
                        
                    </td>
                    <td>
                        {{quiz.created_by.username}}
                    </td>
                    <td class="text-nowrap text-end">
                        <a class="btn btn-outline-primary btn-sm" href="{{url_for('createquestion',quiz_id=quiz.id)}}">Add Questions</a>
                        <a class="btn btn-outline-primary btn-sm" href="{{url_for('indexquestions',quiz_id=quiz.id)}}">View Questions</a>
                        <a class="btn btn-outline-danger btn-sm" href="{{url_for('deletequiz',quiz_id=quiz.id)}}">Delete Quiz</a>
                    </td>
                </tr>
            {%endfor%}
        </table>
    </div> 
    <!-- <div class="col-10 col-sm-4 col-md-4">
        <div class="card shadow">
            <div class="card-header text-center bg-primary text-white">
                Actions
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><a class="text-decoration-none text-dark" href='{{url_for('createquiz')}}'>Add a quiz</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" href='{{url_for('createquiz')}}'>Share a quiz</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" href='{{url_for('createquiz')}}'>Add a quiz</a></li>
                    <li class="list-group-item"><a class="text-decoration-none text-dark" href='{{url_for('createquiz')}}'>Add a quiz</a></li>
                </ul>
            </div>
        </div>
    </div> -->
</div>
{%endblock%}