{%extends "admin_layout.html"%}
{%block content%}
<div class="content-section row p-2 pt-md-5 justify-content-center">
    <div class="h4 fw-bolder d-flex justify-content-center text-secondary my-3 mt-lg-0">Update Your Password</div>
    <div class="col-10 col-sm-6 col-md-4 ">
        <a href="{{url_for('player_account')}}" class="btn btn-secondary">Back</a>

        <form action="{{url_for('player_updatepassword')}}" method="POST">
            
            <div class="form-floating mb-4 mt-4">
                {{form.hidden_tag()}}
                {%if form.old_password.errors %}
                {{form.old_password(class="form-control is-invalid",id="floatingOldpwd",placeholder="Oldpwd")}}
                <div class="invalid-feedback">
                    {%for error in form.old_password.errors%}
                    <span>{{error}}</span>
                    {%endfor%}
                </div>
                {%else%}
                {{form.old_password(class="form-control", id="floatingOldpwd", placeholder="Oldpwd")}}
                {%endif%}
                {{form.old_password.label(for="floatingOldpwd")}}

            </div>
            
            <div class="form-floating mb-4 mt-4">
                {%if form.new_password.errors %}
                {{form.new_password(class="form-control is-invalid",id="floatingNewpwd",placeholder="New Password")}}
                <div class="invalid-feedback">
                    {%for error in form.new_password.errors%}
                    <span>{{error}}</span>
                    {%endfor%}
                </div>
                {%else%}
                {{form.new_password(class="form-control", id="floatingNewpwd", placeholder="New Password")}}
                {%endif%}
                {{form.new_password.label(for="floatingNewpwd")}}

            </div>
            
            <div class="form-floating mb-4">
                {%if form.confirm_password.errors %}
                {{form.confirm_password(class="form-control is-invalid",id = "floatingConfirmpass", placeholder="Confirm New Password")}}
                <div class="invalid-feedback">
                    {%for error in form.confirm_password.errors%}
                    <span>{{error}}</span>
                    {%endfor%}
                </div>
                {%else%}
                {{form.confirm_password(class="form-control",id = "floatingConfirmpass",placeholder="Confirm New Password")}}
                {%endif%}
                {{form.confirm_password.label(class="control-label",for="floatingConfirmpass")}}
            </div>

            
            <div class="py-3">
                {{form.submit(class="btn btn-outline-primary px-3 py-2 w-100")}}
            </div>

        </form>

    </div>
</div>



    
{%endblock%}