{%extends "layout.html"%}
{%block content%}
<div class="content-section row p-2 pt-md-5 justify-content-center">
  <div class="col-10 col-sm-8 my-3">
    <form action="/submitquiz" method="POST" class="row">
      <input type="hidden" name="quiz_id" value="{{quiz_id}}"/>
      
      <div class="all-cards">
        <div class="mb-3 col-12 justify-content-between d-flex">
          <button type="button" class="btn btn-primary my-previous-button disabled"  data-page="1">Previous</button>
          <button type="button" class="btn btn-primary my-next-button"  data-page="2">Next</button>
        </div>
        {%for question in questions%} 
        {% if loop.index == 1%}
          {% set dprop = "" %}
        {% else %} 
          {% set dprop = "d-none"%}
        {% endif %}
        <div class="card question-card p-0 my-3 {{dprop}} position-relative" data-index="{{loop.index}}">
          <div class="card-header p-5 bg-white text-center">
            <span class="border px-3 py-2 rounded-5 bg-light">
              {{loop.index}} of {{questions.count()}}
            </span>
            <br>
                          <br>
                          <span class="fs-5">
                            
                            {{question.question_statement}}
                      </span>
                    </div>
                    <!--The below block of code is using our custom jinja filter named filter_shuffle to shuffle
                    the values of the choices which are shown on the form-->
                    {% set choice_values = [] %}
                    {% set choice_values = choice_values + [question.choices.correct_choice] %}
                    {% set choice_values = choice_values + [question.choices.incorrect_choice_1] %}
                    {% set choice_values = choice_values + [question.choices.incorrect_choice_2] %}
                    {% set choice_values = choice_values + [question.choices.incorrect_choice_3] %}
                    {%set choice_values = choice_values|filter_shuffle %}
                    <div class="card-body row">

                      <div class="col-12 col-md-6">
                        
                        <input type="radio" class="btn-check" name="{{question.id}}" value="{{choice_values[0]}}" id="{{loop.index}}_option1" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-lg w-100 my-2" for="{{loop.index}}_option1">{{choice_values[0]}}</label>
                      </div>
                      
                      <div class="col-12 col-md-6">
                        
                        <input type="radio" class="btn-check" name="{{question.id}}" value="{{choice_values[1]}}" id="{{loop.index}}_option2" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-lg w-100 my-2" for="{{loop.index}}_option2">{{choice_values[1]}}</label>
                        
                      </div>
                      
                      <div class="col-12 col-md-6">
                        
                        <input type="radio" class="btn-check" name="{{question.id}}" value="{{choice_values[2]}}" id="{{loop.index}}_option3" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-lg w-100 my-2" for="{{loop.index}}_option3">{{choice_values[2]}}</label>
                        
                      </div>

                      <div class="col-12 col-md-6">
                        
                        <input type="radio" class="btn-check" name="{{question.id}}" value="{{choice_values[3]}}" id="{{loop.index}}_option4" autocomplete="off">
                        <label class="btn btn-outline-secondary btn-lg w-100 my-2" for="{{loop.index}}_option4">{{choice_values[3]}}</label>
                        
                        
                      </div>
                      <div class="col-12 d-flex my-2 justify-content-between">
                        <div class="btn btn-outline-light resetbutton" question="{{question.id}}" question="{{question.id}}"><i class="bi bi-arrow-clockwise fs-3 text-danger"></i></div>
                        {% if loop.index == questions.count() %}
                          <input type="submit" class="px-3 btn btn-primary final-submit" value="Submit"/>
                        {% endif %}
                      </div>
                        
                    </div>
                  </div>
                    {%endfor%}  
                  </div>
              </form>
              
            </div>
            
            
            <script>
                      // all next buttons will have an event listener to the next function
                      // next function will find the first card which does not have a d-none class
                      // and will remove d-none class from the next card and will add d-none to this btn-outline-secondary
               
                      // function displayFirst(){
                      //   const questions = document.querySelectorAll(".all-cards [data-index]")
                      //   questions.forEach((question,i) =>{
                      //   if(i != 0){
                      //       question.classList.add("d-none")
                      //   }
                      //   })
                      // }

                      function next(){
                        console.log("Next Clicked");
                        let all_questions = document.getElementsByClassName("question-card");
                        for(var i = 0; i<all_questions.length; i++){
                          if(i==all_questions.length-2){
                            let sub_button = document.getElementsByClassName("final-submit")[0];
                            sub_button.classList.remove("d-none")
                            document.getElementsByClassName("my-next-button")[0].classList.add("disabled");

                          }
                          if(!all_questions[i].classList.contains("d-none")){
                            document.getElementsByClassName("my-previous-button")[0].classList.remove("disabled");
                            all_questions[i].classList.add("d-none");
                            all_questions[i+1].classList.remove("d-none");
                            break;
                          }
                          
                        }
                      }
                      function previous(){
                        console.log("Previous Clicked");
                        let all_questions = document.getElementsByClassName("question-card");
                        for(var i = 0; i<all_questions.length; i++){
                          if(i==all_questions.length-2){
                            let sub_button = document.getElementsByClassName("final-submit")[0];
                            sub_button.classList.add("d-none")
                          }
                          if(!all_questions[i].classList.contains("d-none")){
                            if(i==1){
                              document.getElementsByClassName("my-previous-button")[0].classList.add("disabled"); 
                            }
                            document.getElementsByClassName("my-next-button")[0].classList.remove("disabled");
                            all_questions[i].classList.add("d-none");
                            all_questions[i-1].classList.remove("d-none");
                            break;
                          }
                          
                        }
                      }

                      
                      document.querySelector('.my-next-button').addEventListener('click',next)
                      document.querySelector('.my-previous-button').addEventListener('click',previous)
                      



// displayFirst()
          </script>


</div>

{%endblock%}