{% extends "student_layout.html"%}
{% block content %}
<div class="row overflow-auto p-4 p-md-2">
    <div class="col" >
        <table class="table bg-opacity-50 table-borderless bg-white mytable text-center rounded-1 overflow-hidden">
            <tr class="table-warning" valign="middle">
                <td>
                    S. No.
                </td>
                <td>
                    Class Id
                </td>
                <td>
                    Class Name
                </td>
                <td class="text-end">
                    <a class="btn btn-success" href="{{url_for('student_createjoinrequest')}}"><i class="bi bi-plus-circle"></i> Join Class</a>
                </td>
            </tr>
            
            {%for class in classes.items%}
                <tr valign="middle" >
                    <td>
                        <!--This will use the page variable sent by the action method
                        to create the serial numbers for the current page dynamically-->
                        {{loop.index+((classes.page-1)*classes.per_page)}}
                    </td>
                    <td>
                        {{class.id}}
                    </td>
                    <td>
                        {{class.name}}
                    </td>

                    <td class="text-nowrap text-end">
                        <a class="btn btn-primary btn-sm" href="{{url_for('student_indexquiz',class_id = class.id)}}">View Quizzes</a>
                    </td>
                </tr>
            {%endfor%}
        </table>
        
    </div> 
</div>
{% endblock %}