{%extends "teacher_layout.html"%}
{% block content %}
<div class="row overflow-auto p-4 p-md-2">
    <div class="top-buttons d-flex justify-content-between">
        <a class="mt-4 btn btn-secondary" href="{{url_for('teacher_indexquiz')}}">Back</a>
    </div>
    <div class="col" >
        <table class="table bg-opacity-50 table-borderless bg-white mytable text-center rounded-1 overflow-hidden">
            <tr class="table-warning" valign="middle">
                <td>
                    S. No.
                </td>

                <td>
                    Name
                </td>
                <td>
                    Score
                </td>
                <td>

                </td>
            </tr>
            
            {%for result in results%}
                <tr valign="middle" >
                    <td>
                        {{loop.index}}
                    </td>
                    <td>
                        {{result.name}}
                    </td>
                    <td>
                        {{scores[loop.index-1]}}%
                    </td>

                    <td class="text-nowrap text-end">
                        <a class="btn btn-outline-primary" href="{{url_for('teacher_getresult',stu_id = result.id,quiz_id = quiz_id)}}">Details</a>
                    </td>
                </tr>
            {%endfor%}
        </table>
        
        </div>
    </div> 
</div>
{% endblock %}