{%extends "teacher_layout.html"%}
{%block content%}
<div class="content-section row gap-3 p-2 pt-md-3 justify-content-center">
    <div class="col-10 col-sm-6 col-md-6">
        <div class="p-3 h3 d-flex justify-content-center">
            {{title}}
        </div>
        <div class="top-buttons d-flex justify-content-between">
            <a class="btn btn-secondary" href="{{url_for('teacher_indexquiz', class_id = class_id)}}">Back to Quizzes</a>
            <a class="btn btn-primary" href="{{url_for('teacher_createquestion',quiz_id=quiz_id)}}">Add Question</a>
        </div>
        {%for question in questions%}
        <div class="card my-3">
            <div class="card-header d-flex justify-content-between">
                <span class="question">{{loop.index}} - {{question.question_statement}}</span>
                <span class=" ms-2 buttons text-nowrap">
                    <a class="btn btn-link" href="{{url_for('teacher_updatequestion',question_id = question.id)}}"><i class="bi fs-5 bi-pencil-square"></i></a>
                    <a class="btn btn-link" href="{{url_for('teacher_deletequestion',quiz_id=question.quiz_id)}}"  data-bs-questionid = {{question.id}} data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash3 fs-5 text-danger"></i></a>
                </span>
            </div>
            <div class="card-body list-group p-0" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
                    

                        {%for choice in choices%}
                            {%if choice.id == question.choice_id%}
                                <li class="list-group-item bg-success bg-opacity-25 d-flex align-items-center justify-content-between">{{choice.correct_choice}}<i class="bi bi-check-circle-fill text-success fs-4 me-2"></i></li>
                                <li class="list-group-item">{{choice.incorrect_choice_1}}</li>
                                <li class="list-group-item">{{choice.incorrect_choice_2}}</li>
                                <li class="list-group-item">{{choice.incorrect_choice_3}}</li>
                            {%endif%}
                        {%endfor%}

            </div>
        </div>
        {%endfor%}
    </div>
    
</div>
<!--Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Are you sure you want to delete this question?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <a href="#" class="btn btn-danger modal-yes-button">Yes</a>
        </div>
    </div>
    </div>
</div>
<script>
    /*The code below adds the correct hyperlink to the yes button in delete Quiz modal*/
    const exampleModal = document.getElementById('deleteModal')
    deleteModal.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const button = event.relatedTarget
    // Extract info from data-bs-* attributes
    const questionid = button.getAttribute('data-bs-questionid')
    const delurl = button.getAttribute('href')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    const modalYesButton = deleteModal.querySelector('.modal-yes-button')
    
    modalYesButton.href = delurl + "&question_id=" + questionid
})
</script>
{% endblock %}