{%extends "teacher_layout.html"%}
{%block content%}
<div class="row overflow-auto p-4 p-md-2">
    <div class="top-buttons my-3 d-flex align-items-center justify-content-between">
        <a class="btn btn-secondary" href="{{url_for('teacher_indexclassrooms')}}">Back to classrooms</a>
        <p class="h4 d-none d-md-block">Quizzes in - <span class="text-decoration-underline">{{title}}</span></p>
    </div>
    <div class="col" >
        <table class="table bg-opacity-50 table-borderless bg-white mytable text-center rounded-1 overflow-hidden">
            <tr class="table-warning" valign="middle">
                <td>
                    S. No.
                </td>
                <td>
                    Quiz Title
                </td>
                <td>
                    Quiz Category
                </td>
                <td>
                    Quiz Difficulty
                </td>
                <td>
                    Created On
                </td>
                <td>
                    Created By
                </td>
                <td>
                    Timed
                </td>
                <td class="text-end">
                    <a class="btn btn-success" href="{{url_for('teacher_createquizfromapi',class_id = class_id)}}"><i class="bi bi-plus-circle"></i> Add Using API</a>
                    <a class="btn btn-success" href="{{url_for('teacher_createquiz',class_id = class_id)}}"><i class="bi bi-plus-circle"></i> Add</a>
                </td>
            </tr>
            
            {%for quiz in quizzes.items%}
                <tr valign="middle" >
                    <td>
                        <!--This will use the page variable sent by the action method
                        to create the serial numbers for the current page dynamically-->
                        {{loop.index+((quizzes.page-1)*quizzes.per_page)}}
                    </td>
                    <td>
                        {{quiz.quiz_title}}
                    </td>
                    <td>
                        {{quiz.quiz_category}}
                    </td>
                    <td>
                        {{quiz.quiz_difficulty}}
                    </td>
                    <td>
                        {{quiz.date_created.day}}-{{quiz.date_created.month}}-{{quiz.date_created.year}}
                        
                    </td>
                    <td>
                        {{quiz.created_by.username}}
                    </td>
                    <td>
                        {% if quiz.timed %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </td>
                    <td class="text-nowrap text-end">
                        <a class="btn btn-outline-primary btn-sm" href="{{url_for('teacher_createquestion',quiz_id=quiz.id)}}">Add Questions</a>
                        <a class="btn btn-outline-primary btn-sm" href="{{url_for('teacher_indexquestions',quiz_id=quiz.id, class_id = class_id)}}">View Questions</a>
                        <a class="btn btn-outline-primary btn-sm" href="{{url_for('teacher_indexresults',quiz_id=quiz.id)}}">View Submissions</a>
                        <a class="btn btn-outline-danger btn-sm" href="{{url_for('teacher_deletequiz')}}" data-bs-quizid = {{quiz.id}} data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Quiz</a>
                    </td>
                </tr>
            {%endfor%}
        </table>
        <div class="page-links text-center">
            {% for page_num in quizzes.iter_pages() %}
            {% if page_num %}
                {% if quizzes.page == page_num %}
                    <a class="active btn btn-outline-primary btn-sm" href="{{url_for('teacher_indexquiz',page=page_num)}}">{{page_num}}</a>

                {% else %}
                    <a class="btn btn-outline-primary btn-sm" href="{{url_for('teacher_indexquiz',page=page_num)}}">{{page_num}}</a>
                {% endif %}
            {% else %}
                <span class="btn btn-outline-primary btn-sm">...</span>

            {% endif %}
        {% endfor %}
        </div>
    </div> 
</div>
<!--Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Are you sure you want to delete this quiz?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <a href="#" class="btn btn-danger modal-yes-button">Yes</a>
        </div>
    </div>
    </div>
</div>
<script>
    /*The code below adds the correct hyperlink to the yes button in delete Quiz modal*/
    const exampleModal = document.getElementById('deleteModal')
    deleteModal.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const button = event.relatedTarget
    // Extract info from data-bs-* attributes
    const quizid = button.getAttribute('data-bs-quizid')
    const delurl = button.getAttribute('href')
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    const modalYesButton = deleteModal.querySelector('.modal-yes-button')

    modalYesButton.href = delurl + "?quiz_id=" + quizid
})
</script>
{%endblock%}