:root{
    --main-color: rgb(248,201,59);
}
.nav-link{

    border-bottom: 2px solid darkgrey;
}

.brand-text{
    font-size: 3rem;
    color: var(--main-color);
}
#login-btn-inner{
    transition: 0.2s;
    box-shadow: 0 0.3rem 0.1rem 0 darkgrey;
}

#login-btn-inner:hover{
    box-shadow: 0 0.1rem 0.1rem 0 darkgrey;
    transform: translateY(2px);
}

.main-text, .about-text{
    text-align: justify;
}

@media(min-width: 1200px){
.nav-link:hover{
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 10px 0.5rem -10px lightgrey;
}
}
@media(max-width: 1200px){
    .nav-link{
        border-bottom: none;
    }

    .nav-link:hover{
        border-bottom: none;
    }

    .navbar{
        border-bottom: 1px solid lightgrey;
        
    }
}

@media(max-width: 768px){
    .main-text{
        text-align: justify;
    }
}