.nav-link{

    border-bottom: 2px solid darkgrey;
}


.nav-link:hover{
    border-bottom: 2px solid rgb(248, 201, 59);
}

.main-text{
    text-align: right;
}
@media(max-width: 1200px){
    .nav-link{
        border-bottom: none;
    }

    .nav-link:hover{
        border-bottom: none;
    }
}

@media(max-width: 768px){
    .main-text{
        text-align: justify;
    }
}