{%extends "layout.html"%}
{%block content%}
<div class="m-0 content-1 row w-100" style="max-height: 75vh;">
    <div class="main-text ps-sm-5 ps-0 pt-4 pt-sm-0 col-sm-6 col-12 fs-2 fw-normal justify-content-center d-flex align-items-center">
        Quesdom is a website where you can play or create quizzes for others to test your knowledge around various topics
    </div>
    <div class="col-sm-6 col-12 text-center text-sm-start">
        <img src="./static/main-image.jpg" width="80%" height="85%" alt="main-image"/>
    </div>
  </div>
  <div class="d-flex justify-content-center">
      <p class="text-center">Scroll down to learn more<br>

          <img src="./static/scroll-down-arrow.png" alt="scroll-down-arrow" width="50px"/>

      </p>
  </div>
{%endblock%}