{%extends "layout.html"%}
{%block content%}
<div style="height: 75vh;" class="login-content row pt-5 align-items-center justify-content-center">
    <div class="col-sm-4 col-10">

        <form action="/login" method="POST" class="text-center">
            <input type="text" class="form-control my-4 p-3" name="username" placeholder="Username">
            <input type="password" class="form-control mt-2 mb-4 p-3" name="password" placeholder="Password">
            <button type="submit" class="btn btn-lg btn-outline-warning px-3 py-2">Sign In</button>
        </form>

    </div>
</div>



    
{%endblock%}